/* @import "tailwindcss";
@import url(https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700);
 */


@import "tailwindcss";

@theme {
  --color-ink: #0e4229;
  --color-paper: #e6efea;
  --color-accent: #bef264;

  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Roboto Mono", ui-monospace, monospace;
   --ease-snap: cubic-bezier(0.25, 1, 0.5, 1);
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-ink);
  }
}